body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Aligne le contenu en colonne */
    justify-content: flex-start; /* Aligne le contenu vers le haut */
    align-items: center; /* Centre horizontalement */
    background-color: #282c34; /* Fond sombre */
    color: white; /* Couleur du texte */
    font-family: Arial, sans-serif; /* Police */
}

.header {
    display: flex; /* Utilise flexbox pour le header */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    width: 100%; /* Prend toute la largeur */
    padding-top: 20px; /* Espace en haut */
}

.title {
    font-size: 2.5em; /* Taille du titre */
    margin-right: 20px; /* Espace entre le titre et l'image */
}

.acceuil-image {
    width: 100px; /* Ajuste la largeur de l'image */
    height: auto; /* Garde les proportions de l'image */
}

.container {
    display: flex;
    flex-direction: column; /* Colonne pour les boutons */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    margin-top: 20px; /* Espace entre le header et les boutons */
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
}

button::before,
button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

button::before {
    left: -10px;
    background: #240046;
}

button::after {
    right: -10px;
    background: #5a189a;
}

button:hover::before,
button:hover::after {
    width: 58%;
}

button:hover span {
    color: #e0aaff;
    transition: 0.3s;
}

button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
}
