body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #101820FF;
}

.container {
    position: relative;
    text-align: center;
}

.character {
    width: 150px; /* Ajustez la taille de l'image selon vos besoins */
}

.speech-bubble {
    position: absolute;
    bottom: 220px; /* Augmente cette valeur pour plus d'espace */
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}


.speech-bubble::after {
    content: '';
    position: absolute;
    top: 100%; /* Positionne la flèche en bas de la bulle */
    left: 50%;
    margin-left: -10px; /* Ajustez le décalage de la flèche */
    border-width: 10px;
    border-style: solid;
    border-color: #4CAF50 transparent transparent transparent; /* Couleur de la flèche */
}

#next-button {
    margin-top: 20px; /* Ajustez pour l'espace sous le personnage */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #45a049;
}
.button-container {
    margin-top: 20px; /* Espace au-dessus des boutons */
}

#prev-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px; /* Espace entre les deux boutons */
}

#prev-button:hover {
    background-color: #45a049;
}

#next-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #45a049;
}

#quiz-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45a049; /* Couleur différente pour le bouton du quiz */
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: none; /* Initialement caché */
    margin-top: 20px; /* Espace au-dessus */
}

#quiz-button:hover {
    background-color: #45a049; /* Couleur plus sombre au survol */
}

#quiz-button:active {
    background-color: #18611c; /* Couleur encore plus sombre lors du clic */
}
