html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #101820FF;
    color:#FEE715FF;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header{
    margin: 20px auto;
    text-align: center;
    max-width: 400px;
    width: 100%;
}
.description{
    font-size: 10px;
}

/* popup.css */

.popUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid #FEE715FF;
    border-radius: 20px;
    z-index: 10;
    background-color: hsl(210, 33%, 18%);
    max-width: 500px;
    width: 80%;
}

.popUp--active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    border: 2px solid #FEE715FF;
    border-radius: 20px;
    z-index: 10;
    background-color: hsl(210, 33%, 18%);
    max-width: 500px;
    width: 80%;
}

.popUp__head{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-image {
    position: fixed; /* Fixe l'image à la position */
    bottom: 0; /* Colle l'image en bas */
    left: 0%; /* Centre l'image horizontalement */
    width: 100%; /* S'assure que l'image prend toute la largeur */
    max-width: 300px;
}

.popUp__title{
    font-size: 24px;
    font-weight: bold;
    padding-left: 33%;
}

.popUp__close{
    cursor: pointer;
    background-color: hsl(210, 33%, 18%);
    box-shadow: 4px 4px 20px;
    color: #FEE715FF;
    font-weight: bold;
    font-size: 18px;
}

.popUp__body{
    padding: 30px 15px;
    text-align: center;
}

.popUp__background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    background-color: rgb(0, 0, 0, .5);
    opacity: 0;
    pointer-events: none;
}

.popUp__background--active{
    opacity: 1;
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    background-color: rgb(0, 0, 0, .5);
}

/* footer.css */

footer{
    border: 2px solid #FEE715FF;
    border-radius: 20px;
    padding:20px;
    margin-bottom:20px;
    text-align: center;
}

.footer__link{
    border-bottom: 1px whitesmoke;
    color:whitesmoke;
}
.footer__link:hover{
    font-weight: bold;
    
}
.footer__link:visited{
    color: whitesmoke;
}

/* form.css */

.form__fieldset{
    border: 2px solid #FEE715FF;
    border-radius: 20px;
    padding:20px;
    margin-bottom:20px;
}

.form__legend{
    border: 2px solid hsl(210, 33%, 18%);
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    padding: 10px;
    background-color: hsl(210, 33%, 12%);
}

.form__label{
    padding: 20px;
    margin:10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 6px whitesmoke;
    list-style-type: none;
}
.form__label:hover{
    background-color: hsl(210, 33%, 18%);
    font-size:18px;
    transition: .5s;
}


.form__label:active{
    background: hsl(210, 33%, 26%);
}

.form__button{
    display: block;
    margin: 30px auto;
    padding: 5px;
    background-color: hsl(210, 33%, 18%);
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    color: #FEE715FF; 
}
.form__button:hover{
    background-color: hsl(210, 33%, 22%);
    font-size: 18px;
    transition: .5s;
}

.js-correct.js-correct{
    color: forestgreen;
}

.js-incorrect.js-incorrect{
    color: tomato;
}

